/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

body {
    background-color: #ffffff;
    font-family: sans-serif;
    padding-top: 50px;
}

header {
    background-color: #FF6900;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0px 2px 10px #666;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100%;
    margin-bottom: 20px;
    z-index: 1;
}

img {
    max-width: 25%;
    height: auto;
  }

a {
    text-decoration: none;
    color: #ffffff;
    padding: 0px 5px;
}

/* class */

.head{
    display: inline-block;
}

.logo {
    margin-right: -335px;
}

.sec {
    font-weight: 600;
}

.conteiner {
    max-width: 1145px;
    margin: 100px auto;
}

.row {
    display: flex;
    gap: 20px;
}

.coll {
    min-height: 50px;
    flex-basis: calc(100% / 3);
}

.product {
    display: block;
    max-width: 100%;
}

.crd {
    position: relative;
}

.discount {
    color: #fff;
    background-color: #FF0000;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    bottom: 30px;
    left: 0;
}

.sos {
    color: #fff;
    background-color: #008000;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    bottom: 30px;
    left: 60px;
}

.sost {
    color: #fff;
    background-color: #008000;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    bottom: 30px;
    left: 0;
}

.heart {
    color: #000;
    background-color: #fff;
    font-weight: bold;
    padding: 5px 15px;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 30px;
}